html,
body {
  height: 100%;
}

.callout.primary {
  background-color: black;
  background-image: url(../images/CinemaSipsHeader.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0;
}

#sidebar {
  background: rgb(15, 13, 19);
  background: linear-gradient(
    0deg,
    rgba(15, 13, 19, 1) 38%,
    rgba(65, 63, 67, 1) 59%,
    rgba(169, 169, 169, 1) 100%
  );
}

.thumbnail {
  background-color: transparent;
  border: none;
  height: 160px;
  margin-left: 20px;
  box-shadow: none;
}

.callout.secondary {
  background-color: transparent;
}

.background-img {
  background-image: url(../images/CinemaSipsBackground.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.basic-card {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 10px;
  /* opacity: 0.8; */
  background: #fefefe;
  overflow: hidden;
  color: #0a0a0a;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 10px;
}

.basic-card > :last-child {
  margin-bottom: 0;
}

.basic-card-image {
  grid-row-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

.basic-card-image img {
  width: auto;
}

.basic-card-content {
  background-color: white;
  border-radius: 10px;
  grid-row-start: 3 / 4;
  margin: 10;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
}

img {
  background: white;
  margin-bottom: 15px;
}

.movie-card,
.drink-card {
  padding: 20px;
  justify-content: center;
}
#drink-paragraph,
#movie-paragraph {
  background: beige;
  opacity: 0.75;
}

h1 {
  font-family: "Rye", cursive;
  font-size: 74px;
  color: beige;
  text-align: right;
}
h2 {
  font-family: "Special Elite", cursive;
  color: beige;
  font-size: 20px;
  line-height: 16px;
  text-align: right;
}

h5,
li,
p {
  color: #0f0d13;
  font-family: "Montserrat", cursive;
}

.button {
  background-color: #721b1f;
  color: #faeedf;
  border-radius: 20px;
  margin-left: 20px;
}

#drop-down-list {
  border-radius: 10px;
}

.dropdown.menu > li.is-active > a {
  color: #faeedf;
}

.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
  border-color: cornsilk transparent transparent;
}

#reveal_modal {
  background-color: #faeedf;
  opacity: 0.95;
  border-radius: 15px;
  outline: none;
  width: 60%;
  text-align: center;
}

.dropdown.menu .submenu {
  border-radius: 15px;
  text-align: center;
}

a {
  color: #721b1f;
  font-weight: bold;
}

.title-bar{
  background-color:#0f0d13;
}