

.callout.primary {
  padding: 30px;
  /* background-image: url("https://document-export.canva.com/DAEBg0k4fKA/27/thumbnail/0001-8394103686.png");
  background-size: contain;
  background-repeat: no-repeat; */
  
}

.callout.secondary {
  background-color: transparent;
}

.basic-card {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border: 2px solid #e6e6e6;
  border-radius: 10px;
  background: #fefefe;
  overflow: hidden;
  color: #0a0a0a;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 10px;
}

.basic-card > :last-child {
  margin-bottom: 0;
}

.basic-card-image {
  grid-row-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

.basic-card-image img {
  width: auto;
}

.basic-card-content {
  background-color: transparent;
  border: 0;
  grid-row-start: 3 / 4;
  margin: 10;
  margin-bottom: 20px;
  overflow: scroll;
}

ul{
  list-style-type: none;
}

img{
  padding: 20px;
} 

.drink-card, .movie-card {
  padding: 20px;
}